.error-page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background: #bbb;
  min-height: 600px;

  &__error-code {
    font-size: 42px;
    color: #F55363;
    text-align: center;
    padding-bottom: 50px;
  }

  &__description {
    text-align: center;
    letter-spacing: 0.9px;
  }
}