<section class="container" *ngIf="questionData">
  <div class="card">
    <div class="card-header text-white bg-info mb-3">
      <h5 [innerHtml]="questionData.question.title"></h5>
      <p>{{questionData.question.owner.display_name}}</p>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        
        <p [innerHtml]="questionData.question.body"></p>
        <footer class="blockquote-footer">{{questionData.question.creation_date | date:'medium'}}</footer>
      </blockquote>
    </div>
  </div>

  <div class="card ml-4 mt-3" *ngFor="let answer of questionData.answers">
      <div class="card-header">
        {{answer.owner.display_name}}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p [innerHtml]="answer.body"></p>
          <footer class="blockquote-footer">{{answer.creation_date | date:'medium'}}</footer>
        </blockquote>
      </div>
    </div>
</section>