.search-result {
  &__questions {
    margin: 10px 10% 5px 10%;
    transition: margin-left .5s;
    will-change: marging-left;

    &--shifted-right {
      margin-left: 35%;
    }
  }

  &__quick-panel {
    position: fixed;
    width: 32%;
    max-height: 100vh;
    overflow: auto;
    padding: 10px;
    padding-top: 30px;
    transform: translateX(-110%);
    will-change: transform;
    transition: transform .5s;

    &--visible{
      transform: translateX(0);
    }
  }
}